    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');
    * {
        margin: 0;
        padding: 0;
        font-size: 22px;
        font-family: 'Ubuntu', sans-serif;
    }
    
    ul li {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }
    
    .headImage {
        width: 100vw;
    }
    
    .social-media {
        z-index: 100;
        position: fixed;
        top: 4.2vw;
        justify-content: center;
        right: 0;
        padding-top: 2em;
    }
    
    .social-media ul li {
        margin: 0.5vw;
        transition: 0.70s;
        -webkit-transition: 0.70s;
        -moz-transition: 0.70s;
        -ms-transition: 0.70s;
        -o-transition: 0.70s;
    }
    
    .social-media ul li i,
    .social-media ul li img {
        width: 4vw;
        height: 4vw;
        font-size: 3vw;
        text-align: center;
        line-height: 4vw;
        border-radius: 50%;
        box-shadow: 5px 5px 10px black;
        transition: transform 2s;
    }
    
    .social-media ul li .fb {
        background-color: #395694;
        color: white;
    }
    
    .social-media ul li .ig {
        color: white;
        background: #d6249f;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    }
    
    .social-media ul li .tw {
        color: #5DA9DD;
        background-color: white;
    }
    
    .social-media ul li .ld {
        color: white;
        background-color: #1582AA;
    }
    
    .social-media ul li .yt {
        color: #FF0000;
        background-color: white;
    }
    
    .social-media ul li .dc {
        color: white;
        background-color: #6F84D2;
    }
    
    .social-media ul li .dsc {
        background-color: white;
    }
    
    .social-media ul li .gh {
        color: black;
        background-color: white;
    }
    
    .social-media ul li:hover {
        transform: rotate(-30deg);
    }
    
    .navigation {
        z-index: 100;
        position: fixed;
        top: 7vw;
        left: 0;
    }
    
    .navigation ul li:hover {
        transform: translateX(150px);
        transition: transform .4s ease-out;
    }
    
    .navigation ul li button {
        background-color: none;
        border: 0px;
        width: 200px;
    }
    
    .navigation ul li i {
        padding-left: 25px;
    }
    
    .navigation ul li:hover span {
        display: inline;
    }
    
    .navigation ul li:hover button {
        text-align: center;
    }
    
    .navigation .fas {
        transition: transform .7s ease-in-out;
    }
    
    .navigation span {
        display: none;
    }
    
    .home,
    .events,
    .team,
    .faqs,
    .joinus,
    .contactus {
        font-size: 1.5vw;
        padding: 1vw;
        margin: 0.5vw 0.5vw 0.5vw 0;
        color: white;
        border-radius: 0 5px 5px 0;
        box-shadow: 5px 5px 20px black;
        text-align: right;
        margin-left: -155px;
    }
    
    .home {
        background-color: #00AA47;
    }
    
    .events {
        background-color: #1F86FB;
    }
    
    .team {
        background-color: #FD2B25;
    }
    
    .faqs {
        background-color: #FFB800;
    }
    
    .joinus {
        background-color: #00AA47;
    }
    
    .contactus {
        background-color: #FD2B25;
    }
    
    .passion {
        background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../res/img/google.svg');
        background-position: bottom right;
        background-size: 80vw;
        background-repeat: no-repeat;
        text-align: center;
    }
    
    .passion h1 {
        color: gray;
        font-weight: bold;
    }
    
    .passion-text {
        color: gray;
        display: flex;
        float: left;
    }
    
    .passion-text div {
        text-align: center;
    }
    
    .passion-image img {
        margin-top: 30%;
        width: 100%;
    }
    
    .passion .dsclogo {
        width: 10em;
    }
    
    .icon {
        position: relative;
        margin: 0 auto;
        left: 20vw;
        top: 6vw;
    }
    
    .bar {
        position: absolute;
        transform: translate(-50%, -50%);
        /*align-items: center;*/
        top: -10px;
        background-color: #f98866;
        width: 20px;
        height: 20px;
        margin: 5px 0;
        border-radius: 10px;
        transition: 0.3s;
        animation: dope 1.5s ease-in-out 0s infinite;
    }
    
    .bar:nth-child(1) {
        animation-delay: 0s;
    }
    
    .bar:nth-child(2) {
        animation-delay: 0.15s;
    }
    
    .bar:nth-child(3) {
        animation-delay: 0.3s;
    }
    
    .bar:nth-child(4) {
        animation-delay: 0.45s;
    }
    
    @keyframes dope {
        0% {
            height: 20px;
        }
        50% {
            height: 60px;
        }
        100% {
            height: 20px;
        }
    }
    
    .passion-button {
        margin-top: 20px;
    }
    
    .passion-button .button {
        width: 200px;
        display: inline;
        border-radius: 5px;
        border: none;
        background-color: #1F86FB;
        color: white;
        padding: 5px 20px 5px 20px;
        margin: 10px 5px 5px 0;
    }
    
    .passion-button button:hover {
        transition: all 0.7s ease;
        color: #1C9BEA;
        background-color: white;
        border: 2px solid #1C9BEA;
    }
    
    #pot1 {
        margin-top: -50px;
        position: absolute;
        animation: run 10s linear infinite;
        -webkit-animation: linear infinite;
        -webkit-animation-name: run;
        -webkit-animation-duration: 10s;
    }
    
    @-webkit-keyframes run {
        0% {
            left: 0%;
        }
        100% {
            left: 100%;
        }
    }
    
    #pot2 {
        margin-top: -50px;
        position: absolute;
        animation: run2 50s linear infinite;
        -webkit-animation: linear infinite;
        -webkit-animation-name: run2;
        -webkit-animation-duration: 50s;
    }
    
    @-webkit-keyframes run2 {
        0% {
            left: 0%;
        }
        100% {
            left: 100%;
        }
    }
    
    #pot3 {
        margin-top: -65px;
        position: absolute;
        animation: run3 30s linear infinite;
        -webkit-animation: linear infinite;
        -webkit-animation-name: run3;
        -webkit-animation-duration: 30s;
    }
    
    @-webkit-keyframes run3 {
        0% {
            left: 100%;
        }
        100% {
            left: 0%;
        }
    }
    
    .whoweare {
        margin-top: 50px;
        color: white;
        text-align: center;
    }
    
    .writeup {
        background-color: #88DEF4;
        margin-bottom: -10px;
    }
    
    .whoweare h1 {
        padding-top: 50px;
    }
    
    .whoweare span {
        color: #FD2B25;
    }
    
    .motion {
        position: relative;
    }
    
    .wrapper {
        margin: 10vh auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .hex {
        width: 20vw;
        height: calc(20vw*1.7430);
        margin: .2vw;
        position: relative;
        overflow: hidden !important;
        transform: rotate(60deg);
    }
    
    .hex-inner1 {
        width: inherit;
        height: inherit;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(60deg);
        overflow: hidden;
    }
    
    .hex-inner2 {
        display: flex;
        width: inherit;
        height: inherit;
        background-size: cover !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-120deg);
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }
    
    .hex:nth-of-type(n+5) {
        margin-top: -17.3vw;
    }
    
    .whatwedo h1 {
        text-align: center;
    }
    
    .hex-inner1 span {
        visibility: hidden;
    }
    
    .hex-inner1:hover span {
        visibility: visible;
    }
    
    .hex-inner2 p {
        text-align: center;
        margin-bottom: -50px;
        color: white;
    }
    
    .motion {
        overflow-x: hidden;
    }
    
    @media screen and (max-width:750px) {
        .navigation ul li button {
            background-color: none;
            border: 0px;
            width: 100px;
        }
        .home,
        .events,
        .team,
        .faqs,
        .joinus,
        .contactus {
            font-size: 1.5vw;
            padding: 1vw;
            margin: 0.5vw 0.5vw 0.5vw 0;
            color: white;
            border-radius: 0 5px 5px 0;
            box-shadow: 5px 5px 20px black;
            text-align: right;
            margin-left: -75px;
        }
        .navigation ul li:hover {
            transform: translateX(50px);
            transition: transform .4s ease-out;
        }
        .col-sm-12 {
            margin: 0;
            padding: 0;
        }
        * {
            font-size: 13px;
        }
        .icon,
        .passion-image {
            display: none;
        }
        .passion {
            background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../res/img/google.svg');
            background-position: center;
        }
        .social-media ul li i,
        .social-media ul li img {
            width: 30px;
            height: 30px;
            font-size: 20px;
            text-align: center;
            line-height: 30px;
            border-radius: 50%;
            box-shadow: 5px 5px 10px black;
            transition: transform 2s;
        }
        .navigation {
            z-index: 100;
            position: fixed;
            top: 3vw;
            left: 0;
        }
        .social-media {
            z-index: 100;
            position: fixed;
            top: 1vw;
            right: 0;
            padding-top: 0;
        }
    }
    
    @media screen and (max-width:990px) {
        .icon,
        .passion-image {
            display: none;
        }
        .passion {
            background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../res/img/google.svg');
            background-position: center;
        }
    }
    
    @media screen and (max-width:550px) {
        .social-media ul li i,
        .social-media ul li img {
            width: 25px;
            height: 25px;
            font-size: 20px;
            text-align: center;
            line-height: 25px;
            border-radius: 50%;
            box-shadow: 5px 5px 10px black;
            transition: transform 2s;
        }
    }
    
    @media screen and (max-width:400px) {
        .social-media ul li i,
        .social-media ul li img {
            width: 20px;
            height: 20px;
            font-size: 15px;
            text-align: center;
            line-height: 20px;
            border-radius: 50%;
            box-shadow: 5px 5px 10px black;
            transition: transform 2s;
        }
    }